# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.


1. What is indentation error? Why indentation is important? Give one simple example?

2. Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

  **HINT:** Refer your data type conversion class

3. Use if else condition to verify that dataype of `input()` method in python is always string.

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.


5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```
    
6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples - 
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

### Answer below questions on the above theory - 

7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

1. What is indentation error? Why indentation is important? Give one simple example?

Answer: Indentation error occur when we don't provide proper spacing (4 space or tab) while executing any loop.
In C we uses middle bracket ({ }) to show that we are executing any function and after termination of this loop or function next function is going to be execute and one might have to take care of all these things so to overcome this issue, python has provided indentation for example if we have to run the first loop we have to press tab and write the function and the next line we be at same spacing or indentation. If we have to use another loop within that loop then by pressing tab again 4 space (overall 8 space) and we can write the function and this way we can provide many loops within loops.

In [ ]:
a = int(input("Please write any number:"))
if a % 2 == 0:
  print(f"The number {a} is Even")
else:
  print(f"The number {a} is odd")

Please write any number:45
The number 45 is odd

2. Correct the following code and write the comment where you made the correction?

In [ ]:
class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

if class_started == True:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False/1-True]1
Since class started...
Lets concentrate

3. Use if else condition to verify that dataype of input() method in python is always string.

In [ ]:
a = input("Please give your input")
if type(a) == str:
  print(f"The input {a} provided is string")
else:
  print(f"The input {a} provided is not a string")

Please give your input45
The input 45 provided is string

In [ ]:
a = input("Please give your input")
if type(a) == str:
  print(f"The input {a} provided is string")
else:
  print(f"The input {a} provided is not a string")

Please give your inputravi
The input ravi provided is string

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [ ]:
a = float(input("Enter the first number:"))
b = float(input("Enter the second number:"))
c = float(input("Enter the third number:"))
if a > b and a > c:
  print(f"The maximum number among {a},{b},{c} is {a}")
elif b > a and b > c:
  print(f"The maximum number among {a},{b},{c} is {b}")
else: 
  print(f"The maximum number among {a},{b},{c} is {c}")

Enter the first number:12.1
Enter the second number:12.3
Enter the third number:12.5
The maximum number among 12.1,12.3,12.5 is 12.5

5. What would be the solution?

In [ ]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

In [ ]:
# Explanation
# a == 10 is False
# not a == 10 is True
# b == 10 is True
# not b == 10 False
# ( not a == 10 or not b == 10) is (True + False) is True
# ( not ( not a == 10 or not b == 10) ) is ( not (True)) is False

6. Find the answer as well as find out the reason behind the result?

 - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```

In [ ]:
A = 5.0
B = 10/2
print(A is B)

False

In [ ]:
# A = 5.0 is float

In [ ]:
# case 2
A = 5.0
B = int(10/2)
print(A is B)

False

In [ ]:
# A = 5.0 is float

In [ ]:
# case 3
A = 5.0
B = float(10/2)
print(A is B)

False

In [ ]:
#s

7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [ ]:
a = int(input("Enter a number:"))
if a % 3 == 0 or a % 5 == 0:
  print(f"That number {a} is divisible by either 3 or 5")
else:
  print(f"That number {a} is not divisible by either 3 or 5")

Enter a number:31
That number 31 is not divisible by either 3 or 5

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [ ]:
l = float(input("Enter length of the side in meter:"))
b = float(input("Enter width of the side in meter:"))
if l == b:
  print(f"The area of square is {l*b}")
else:
  print(f"The area of rectangle is {l*b}")

Enter length of the side in meter:6
Enter width of the side in meter:5
The area of rectangle is 30.0

9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [ ]:
radius_1 = float(input("Enter the radius of circle 1:"))
radius_2 = float(input("Enter the radius of circle 2:"))
if radius_1 > radius_2:
  print(f"The area of circle having {radius_1} is {3.14*radius_1**2} and the area of circle is {3.14*radius_2**2}, and circle 1 is greater than circle 2")
elif radius_1 < radius_2:
  print(f"The area of circle having {radius_1} is {3.14*radius_1**2} and the area of circle is {3.14*radius_2**2}, and circle 2 is greater than circle 1")
else:
  print(f"The area of circle having {radius_1} is {3.14*radius_1**2} and the area of circle is {3.14*radius_2**2}, and both are equal")

Enter the radius of circle 1:4
Enter the radius of circle 2:5
The area of circle having 4.0 is 50.24 and the area of circle is 78.5, and circle 2 is greater than circle 1

10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [ ]:
y = int(input("Please enter the year"))
if y % 400 == 0 and y % 100 == 0:
  print(f"{y} is a leap year")
elif y % 4 == 0 and y % 100 != 0:
  print(f"{y} is a leap year")
else:
    print(f"{y} is not a leap year")

Please enter the year2004
2004 is a leap year