# ASSIGNMENTS 
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.

## control flow and conditional statements

Q1. Find the largest number from the given list, use for loop.

```
numbers = [12, 75, 150, 180, 145, 525, 50]
```

Q2. Print all the even number between (1, 12).

Q3. Calculate the sum of all numbers from 1 to a given number
    
    Expected Output:

    Enter number 10
    
    Sum is:  55

Q4. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop

In [ ]:
# Given:

numbers = [12, 75, 150, 180, 145, 525, 50]

Q5. Print the given list in reverse order.

```
list1 = [10, 20, 30, 40, 50]
```

In [ ]:
#solution 1 Find the largest number from the given list, use for loop.
numbers = [12, 75, 150, 180, 145, 525, 50]
maxim = 0
for i in numbers:
  if i > maxim:
    maxim = i

print(f"The maximum number in {numbers} is {maxim}")

The maximum number in [12, 75, 150, 180, 145, 525, 50] is 525

In [3]:
#Print all the even number between (1, 12)
for i in range(1,12):
  if i % 2 == 0:
    print(f"The even numbers are: {i}")

The even numbers are: 2
The even numbers are: 4
The even numbers are: 6
The even numbers are: 8
The even numbers are: 10

In [ ]:
#Calculate the sum of all numbers from 1 to a given number
numb = int(input("Enter the number: "))
sum = 0
for i in range(numb+1):
  sum = sum + i
  i = i + 1
print(f"The sum of first {numb} is {sum}")

Enter the number: 10
The sum of first 10 is 55

In [4]:
#Write a program to display only those numbers from a list that satisfy the following conditions
#The number must be divisible by five
#If the number is greater than 150, then skip it and move to the next number
#If the number is greater than 500, then stop the loop

numbers = [12, 75, 150, 180, 145, 525, 50]
new = []
for i in numbers:
    if i > 150:
        if i > 500:
            break
        continue
    if i % 5 == 0:
        new.append(i)
        
print(new)

[75, 150, 145]

In [1]:
#Print the given list in reverse order.

list1 = [10, 20, 30, 40, 50]
print(list1[::-1])

[50, 40, 30, 20, 10]